[DEFAULT]
VOI_SIZE = [201, 101, 101]

[DATA]
TRAINING_DATA_DIR = 
RC_TRAIN_DATA_PATH = %(TRAINING_DATA_DIR)s/rcs.npy
GT_TRAIN_DATA_PATH = %(TRAINING_DATA_DIR)s/gts.npy
# for testing results
RC_TEST_DATA_PATH = %(TRAINING_DATA_DIR)s/rc_tests_input.npy
GT_TEST_DATA_PATH = %(TRAINING_DATA_DIR)s/gt_tests_input.npy

# detected images path for reconstruction
DATA_DIR = 

[TRAIN]
# This is used for training and prediction both
CHECKPOINT_DIR = data/checkpoints/cp.ckpt
BATCH_SIZE = 1
EPOCHS = 20
